<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Investment Portfolio</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Stock Search</h1>
	
	<a th:href = "@{/portfolio}" class="btn btn-primary btn-sm mb-3"> Portfolio </a>

	<a th:href = "@{/trade}" class="btn btn-primary btn-sm mb-3"> Trade </a>
		<form action="#" th:action="@{/search}" th:object="${search}"
		method="POST">
			<input type="text" th:field="*{str}"
				placeholder="Stock Search" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2"> Search</button>

		</form>
		<table class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Stock Description</th>
					<th>Symbol</th>
					<th>Type of Stock</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="result : ${results}">
					<td th:text="${result.get('description')}"></td>
					<td th:text="${result.get('symbol')}"></td>
					<td th:text="${result.get('type')}"></td>
				</tr>
			</tbody>
		</table>
		<!--<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=symbol&sortDir=' + ${reverseSortDir}}">
							Symbol</a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">Price</a>
					</th>
					<th> Actions </th>
				</tr>
			</thead> 
			<tbody>
				<tr th:each="stock : ${listStocks}">
					<td th:text="${stock.symbol}"></td>
					<td th:text="${stock.price}"></td>
					<td><a th:href="@{/trade/}" class="btn btn-primary">Trade</a>
					 <td><a th:href="@{/trade/{id}(id=${stock.id})}" class="btn btn-primary">Trade</a> 
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>-->
	</div>
</body>
</html>