<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Investment Portfolio</title>

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
	<script>
		function toggleButton() {
			document.getElementById('button').disabled = (document.getElementById('search').value === "");
		}
	</script>
</head>
<body>

	<div class="container my-2">
		<h1>Stock Search</h1>
		
		<a th:href = "@{/portfolio}" class="btn btn-primary btn-sm mb-3"> Portfolio </a>
		<form action="#" th:action="@{/search}" th:object="${search}" method="POST">
			<input id="search" type="text" th:field="*{str}"
				placeholder="Stock Search" class="form-control mb-4 col-4" onchange="toggleButton()">
			<button id="button" type="submit" class="btn btn-info col-2" disabled> Search</button>
		</form>
		<table th:if="${results.size() > 0}" class = "table table-striped table-responsive-md">
			<thead>
				<tr >
					<th id="stockTicker">Stock Ticker</th>
					<th id="currentPriceQuote">Current Price</th>
					<th id="low">52 Week Low</th>
					<th id="high">52 Week High</th>
					<th id="beta">Beta</th>
					<th id="bookValuePerShareAnnual">Book Value Per Share</th>
					<th id="dividendPerShareAnnual">Dividends Per Share</th>
					<th id="epsNormalizedAnnual">Earnings Per Share Normalized</th>
					<th id="marketCapitalization">Market Cap</th>
					<th id="peNormalizedAnnual">Price to Earnings Normalized</th>
					<th id="roiAnnual">ROI Annual</th>
					<th id="debtToEquity">Debt to Equity</th>
					<th id="blank"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="result : ${results}">
					<td th:text="${result.get('ticker')}"></td>
					<td th:text="${result.get('currentPrice')}"></td>
					<td th:text="${result.get('52WeekLow')}"></td>
					<td th:text="${result.get('52WeekHigh')}"></td>
					<td th:text="${result.get('beta')}"></td>
					<td th:text="${result.get('bookValuePerShareAnnual')}"></td>
					<td th:text="${result.get('dividendPerShareAnnual')}"></td>
					<td th:text="${result.get('epsNormalizedAnnual')}"></td>
					<td th:text="${result.get('marketCapitalization')}"></td>
					<td th:text="${result.get('peNormalizedAnnual')}"></td>
					<td th:text="${result.get('roiAnnual')}"></td>
					<td th:text="${result.get('totalDebt/totalEquityAnnual')}"></td>
					<td><a th:href = "@{/trade/{id}(id=${result.get('ticker')})}" class="btn btn-primary btn-sm mb-3"> Trade </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>