<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Portfolio Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
    <h1>Portfolio Page</h1> 
    <table class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Current Price</th> 
                <th>Amount Owned</th>
                <th>Current Valuation</th>
                <th>Price Paid</th>
                <th>Profit/loss</th>    
            </tr>
        </thead> 
        <tbody>
            <tr th:each="position : ${positions}">
                <td th:text="${position.getTicker()}"></td>
                <td th:text="${#numbers.formatCurrency(position.getCurrentPrice())}"></td>
                <td th:text="${position.getAmount()}"></td>
                <td th:text="${#numbers.formatCurrency(position.getValuation())}"></td>
                <td th:text="${#numbers.formatCurrency(position.getInitialPrice())}"></td>
                <td th:text="${position.getProfitLoss()}"></td>
            </tr>

        </tbody>
    </table>
</body>
</html>