<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Portfolio Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Portfolio Page</h1> 
    <table>
        <thead>
            <tr>
                <th>Ticker</th>
                <!--<th>Current Price</th>
                <th>Profit/loss</th>-->   
                <th>Amount Owned</th>
                <th>Price Paid</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="position : ${positions}">
                <td th:text="${position.getTicker()}"></td>
                <td th:text="${position.getAmount()}"></td>
                <td th:text="${position.getInitialPrice()}"></td>
            </tr>

        </tbody>
    </table>
</body>
</html>