<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Portfolio Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
    <h1>Portfolio Page</h1> 
    <h3>Positions</h3>
    <table class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th id="ticker">Ticker</th>
                <th id="currentPrice">Current Price</th> 
                <th id="amountOwned">Amount Owned</th>
                <th id="currentValuation">Current Valuation</th>
                <th id="pricePaid">Price Paid</th>
                <th id="profitLoss">Profit/loss</th>
                <th id="instrument">Instrument</th>
                <th id="blank"></th>    
            </tr>
        </thead> 
        <tbody>
            <tr th:each="position : ${positions}">
                <td th:text="${position.getTicker()}"></td>
                <td th:text="${#numbers.formatCurrency(position.getCurrentPrice())}"></td>
                <td th:text="${position.getAmount()}"></td>
                <td th:text="${#numbers.formatCurrency(position.getValuation())}"></td>
                <td th:text="${#numbers.formatCurrency(position.getInitialPrice())}"></td>
                <td th:text="${position.getProfitLoss()}"></td>
                <td th:text="${position.getInstrument()}"></td>
                <td>
                    <a th:if="${position.getInstrument().equals('stock')}" th:href = "@{'/trade/'+ ${position.getTicker()} + '/stock'}" class="btn btn-primary btn-sm mb-3"> Trade </a>
                    <a th:unless="${position.getInstrument().equals('stock')}" th:href = "@{'/trade/' + ${position.getTicker()} + '/crypto'}" class="btn btn-primary btn-sm mb-3"> Trade </a>
                </td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>N/A</strong></td>
                <td><strong>N/A</strong></td>
                <td> <strong th:text="${#numbers.formatCurrency(totalValuation)}"></strong></td>
                <td><strong th:text="${#numbers.formatCurrency(totalInitialPrice)}"></strong></td>
                <td><strong th:text="${totalProfitLoss}"></strong></td>
                <td><strong>N/A</strong></td>
                <td> </td>
                
            </tr>

        </tbody>
    </table>
    <div class ="container">
        <h3>Cash Available</h3>
        <p><strong th:text="${#numbers.formatCurrency(cashBalance)}"></strong></p>
        <form action="#" th:action="@{/deposit}" th:object="${cash}"
			method="POST">
            <input type="text" th:field="*{amount}"
				placeholder="Amount to Deposit" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Deposit</button>
        </form>
    </div>
    <hr>
		
		<a th:href = "@{/}"> Back to Stock List</a>
</body>
</html>