<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Trade</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
	<script>
		function updateAmount() {
			var price = parseFloat(document.getElementById("price").value);
			var cash = parseFloat(document.getElementById("cash").value);
			var amount = cash / price;
			document.getElementById("amount").value = amount;
		}
		function updateCash() {
			var price = parseFloat(document.getElementById("price").value);
			var amount = parseFloat(document.getElementById("amount").value);
			var cash = amount * price;
			document.getElementById("cash").value = cash;
		}
	</script>
</head>
<body>
	<div class="container">
		<h1>Trade</h1> 
		<hr>

		<form action="#" th:action="@{/enterTrade}" th:object="${trade}"
			method="POST">

			<label for="buy">Buy</label>
			<input type="radio" th:field="*{type}" id="buy" name="type" value="BUY">
			<br>
			<label for="sell">Sell</label>
			<input type="radio" th:field="*{type}" id="sell" name="type" value="SELL">
			<br>

			<label for="symbol">Ticker: </label>
			<input id="symbol" type="text" th:field="*{symbol}" class="form-control mb-4 col-4" readonly>
				
			<label for="symbol">Current Price: </label>	
			<input id="price" type="text" th:field="*{price}" class="form-control mb-4 col-4" readonly>
			
			<label for="symbol">Instrument </label>
			<input id="instument" type="text" th:field="*{instrument}" class="form-control mb-4 col-4" readonly>

			<label for="symbol">Cash Amount: </label>
			<input id="cash" type="text" th:field="*{cash}" class="form-control mb-4 col-4" onchange="updateAmount()">

			<label for="symbol">Asset Amount: </label>
			<input id="amount" type="text" th:field="*{amount}" class="form-control mb-4 col-4" onchange="updateCash()">
			
			<button type="submit" class="btn btn-info col-2"> Enter Trade </button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Stock List</a>
	</div>
</body>
</html>